html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*////////////////////END RESET//////////////////////*/

/*body{display: flex;}*/

.Basic{display: flex; flex-direction: column; justify-content: center; }

.head
{
	width: 98%; 
	height: 0px; 
	padding-top: 34.000%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	align-self: center; 
	margin-top: 10px; 
	background-image: url("/src/img/h2.jpg");
	background-size: 100%;

}
.head>img:nth-child(1) {position: relative; top: -500px; left: 40%; width: 45%; animation: mark1 3s infinite; animation-iteration-count: 1; animation-fill-mode: forwards; z-index: 1;}
.head>img:nth-child(2) {opacity: 0; position: relative; top: -615px; left: 13.4%; width: 10%; animation: mark2 3s infinite; animation-duration: 4s; -moz-animation-delay: 3s; animation-iteration-count: 1; animation-fill-mode: forwards; z-index: 2;}

.hello {position: absolute; z-index: 3; top: 10px; left: 20px; text-align: center; background-color: lightblue; padding: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);}
/* */


@keyframes mark1 
{
  0% {transform: translate(0px, -350px);}
  100% {transform: translate(0px, -170px);}
}
@keyframes mark2 
{
  0% {opacity: 0; transform: scale(0.1);}
  100% {opacity: 1; transform: scale(1);}
}






.midl{ width:98%; display: flex;flex-direction: row; align-self: center; margin-left: 10px; margin-right: 10px;}
.left{width: 240px;  /*border: 1px solid black;*/box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.right{width: 240px;  /*border: 1px solid black;*/box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.content{flex: 1;  /*border: 1px solid black;*/ box-shadow: 0 0 10px rgba(0,0,0,0.5);}

.footer
{
	width: 98%; 
	height: 600px; 
	color: white;
	/*padding-top: 32.000%; */
	/*border: 1px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/*align-content: flex-end;*/
	align-self: center; 
	margin-bottom: 10px;
	background-image: url("/src/img/footer-back.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.footer a{text-decoration: none; color: white;}

.fup {display: flex; flex-direction: row; justify-content: space-between;}
.fup>div {width: 300px; height: 200px; margin: 15px; background-color: #0a3e68; text-align: center;}
#f1 div:nth-child(1),#f1 div:nth-child(4),#f1 div:nth-child(6),#f2 div:nth-child(1),#f3 div:nth-child(1),#f4 div:nth-child(1){font-size: 25px; margin: 5px 0px;}
#f4 {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;}
#f4>div{width: 17%; align-items: center; align-self: center; margin: 2px;}
#f4>div:nth-child(1){width: 100%;}
#f4 img {width: 100%; cursor: pointer; transition: all 1s ease-out;}
#f4 img:hover {transform: rotate(360deg); }
#f1 div, #f2 div, #f3 div{margin-top: 3px;}

.fdown {margin: 0px 5px;  text-align: center;}
.fdown img {width: 10%; transition: all 1s ease-out;}
.fdown img:hover {transform: scale(1.1);}
.fdown div {margin: 3px; font-size: 25px;}


/*-----------------MENU--------------------*/

.menu ul
{
margin:5px;
padding:0px;
list-style-type:none;
-webkit-backface-visibility: hidden; backface-visibility: hidden;  outline: 0;
}
.var_nav
{
position:relative;
background:#ccc; 
width:230px;
height:40px;
margin-bottom:5px; outline: 0;
}
.link_bg
{
 width:40px;
 height:40px;
 position:absolute;
 background:#E01B6A;
 color:#fff;
 z-index:2; outline: 0;
}
.link_bg i
{
 position:relative; outline: 0;
}
.link_title
{
position:absolute;
width:100%;
z-index:3;
color:#fff; outline: 0;
}
.link_title:hover .icon
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
-ms-transform:rotate(360deg);
transform:rotate(360deg);  
}
.var_nav:hover .link_bg
{
width:100%;
background:#E01B6A;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;  
}
.var_nav:hover a
{
font-weight:bold;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;  
}
.icon
{
position:relative;
width:40px;
height:40px;
text-align:center;
color:#fff;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;   
float:left;
transition:all .5s ease-in-out;   
float:left;  
outline: 0;
}
.icon i{top:10px;position:relative;}
.link_title a{
display:block;
position:absolute;
float:left;
font-family:arial;
color:#fff;
text-decoration:none;
width:100%;
height:40px;
text-align:center;
outline: 0;
/*}
span
{*/
margin-top:10px;
display:block;
}










/*Slider on home*/

.containerr {
  width:95%;
 /* margin: 10px auto;*/
 margin: 10px;
  text-align: center;
  align-self: center;
}

#sliderr {
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 99%;/*600px;*/
  height: 420px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
   align-self: center;
}

#sliderr img {
  position: absolute;
  top: 20px;
  left: 40px;
 /* max-width:600px;
  max-height:400px;*/
 align-self: center;
width: 50%;


}


#dots {
  list-style:none;
  padding:0px;
  margin-bottom: 8px;

}
#dots li {
  display:inline-block;
  border-radius:10px;
  width:10px;
  height:10px;
  margin: 0 5px;
  border:2px solid #2284A1;
  background: white;
  cursor:pointer;
}
#dots li.activee {
  background:#2284A1;
}





.ponti
{
/*width: 95%;*/
margin: 5px;
padding: 5px;
/*border: 1px solid black;*/
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: center;
/*align-items: center;
align-self: center;*/
}

.pont
{
width: 230px;
height: 170px;
margin: 5px;
padding: 5px;
/*border: 1px solid black;*/
box-shadow: 0 0 10px rgba(0,0,0,0.5);
text-align: center;
opacity: 0;
}

.pont i {padding: 10px; background-color: skyblue; border-radius: 40px;font-size: 25px; width: 50px; height: 50px; text-align: center; vertical-align: middle; line-height: 50px; display: block; margin-left: 80px;}
.counterr {font-size: 25px; margin: 10px 0px;}
.pont span {font-size: 20px; margin-top: 10px;}

.potit
{
	text-align: center;
font-size: 36px;
color:
#282828;
text-align: center;
margin-bottom: 43px;
font-family: 'PlayFairBold',sans-serif;



}









.call
{
	width: 500px;
	height: 466px;
/*border:2px solid #2284A1;*/
display: flex;
flex-wrap: wrap;
flex-direction: row;
background-color: #ededed;
margin-left: 25%;
margin-top: 20px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
border-radius: 5px;
}

.call h2
{display: inline; font-size: 30px; margin-left: 10px; padding-top:  10px; line-height: 20px; margin-top: 10px;}
.call span
{font-size: 20px; font-weight: bold; }
.call div:nth-child(1)
{
	width: 90%;
align-self: center;
text-align: center;
border-bottom: 1px solid #2284A1;
margin-bottom: 20px;
margin-left: 5%;
}
.call div:nth-child(1) img
{
	width: 9%;
margin: 5px;
position: relative;
left: 5px;
}

.call div:nth-child(2)
{
	width: 48%;
}
.call div:nth-child(2) img
{
	width: 98%;
}



.call div:nth-child(3)
{
	width: 48%;
	text-align: center;
}

.call div:nth-child(3) p {margin-bottom: 10px; margin-top: 10px;}

.call div:nth-child(3) input
{
	width: 88%;
	margin-bottom: 10px;
}

.call button
{
	width: 89%;
	margin-bottom: 10px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 9px;
	background-color: #111111;
	color: white;
}



/*------------------------------Feedbacks------------------------------------*/


.tittle
{text-align: center; margin-top: 50px; font-size: 40px;}

#wrapper {height: 170px; position: relative;}
			#wrapper {
				display: flex;
				width: 98%;
				left: 0%;
				overflow: hidden;
			}

			#carousel img {
				margin: 10px 5px;
				border: none;
				display: block;
				float: left;
			}
			
			#prev, #next {width: 3%;}
			#prev:hover, #next:hover {}
			#prev {
				background-image: url( /src/img/gui-prev.png );
				background-repeat: no-repeat;
				background-position: center;
				height: 50px;
				position: relative;
			}
			#next {
				background-image: url( /src/img/gui-next.png );
				background-repeat: no-repeat;
				background-position: center;
				height: 50px;
				position: relative;
			}
#dii
{
margin: 10px 5px;
border: none;
display: block;
float: left;
}

.q{display: flex;flex-direction: row; margin-top: 200px; }/*margin-bottom: 200px;*/

.qo
{
width: 250px;
height: 150px;
margin: 5px 5px;
padding-left: 5px;
padding-right: 5px;
float: left;
display: flex;
flex-direction: column;
text-align: center;
}

#carousel .qo img
{
border-radius: 50px;
display: block;
width: 60%;
}
#carousel .qo div:nth-child(1)
{align-self: center;}

#carousel .qo p{font-size: 20px; font-style: italic; }

/*---------------------------Team--------------------------------------*/

.teamT {text-align: center; margin-top: 50px; margin-bottom: 20px; font-size: 40px;} 
.team {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; text-align: center;}

.team img {width: 50%;}
.worker {width: 20%; display: flex; align-items: center; justify-content: flex-end; flex-direction: column; margin: 5px;}
.worker>div{border: 1px double green; width: 100%; padding: 10px 0px; font-size: 20px; border-radius: 20px;}

/*----------------------------CHAT-------------------------------------*/

.chat {width: 50px; height: 50px; position: sticky; bottom: 10px; margin-left: 118%;  z-index: 5; border-radius: 30px; cursor: pointer;}
.chat img {width: 100%;}

.chatOpen {width: 250px; height: 400px; border: 1px groove black; position: sticky; bottom: 10px; margin-left: 100%;  z-index: 5; border-radius: 30px; background-color: white;}
.chatTitle {width: 100%; height: 60px; background-color: skyblue; border-radius: 30px 30px 0px 0px; display: flex; flex-direction: row; justify-content: space-between; text-align: center;}
.chatTitle img {width: 100%;}
.chatTitle div:nth-child(1){width: 60px; height: 60px;}
.chatTitle div:nth-child(2){align-content: center; text-align: center; align-items: center;}
.chatTitle div:nth-child(2)>div{background-color: lightgreen; border-radius: 10px; margin-top: 5px; text-align: center; margin-left: 25px; height: auto;}
.chatTitle div:nth-child(3){width: 60px; height: 60px; text-align: right; line-height: 20px;}
.chatTitle i {position: relative; top: 10px; left: -10px; cursor: pointer; transition: all 1s ease;}
.chatTitle i:hover {transform: rotate(360deg);}

.chatBody {width: 250px; height: 340px;}
.messages {width: 250px; height: 250px; background-color: #c2e1ed; overflow: auto;}
.message, .usermMsg {display: flex; flex-direction: row; margin: 3px;}
.message img {width: 100%;}
.message div:nth-child(1) {width: 50px;}
.message div:nth-child(2) {background-color: #efefef; width: 100%; padding: 3px; border-radius: 5px 5px 5px 5px;}

/*.usermMsg {}*/
.usermMsg img {width: 100%;}
.usermMsg div:nth-child(2) {width: 50px;}
.usermMsg div:nth-child(1) {background-color: #efefef; width: 100%; padding: 3px; border-radius: 5px 5px 5px 5px;}

.typp {position: absolute; bottom: 2px; text-align: center; display: flex; flex-direction: column; margin: 5px; width: 94%;}
.typp textarea {width: 100%;}
.typp div {margin-top: 5px; margin-left: 3px; padding-top: 2px; padding-bottom: 4px; background-color: #f9b1f1; border-radius: 0px 0px 30px 30px; cursor: pointer; width: 100%;}
/*---------------------------------------------------------------bottom: 100px; right: 13px;--*/

.q1{display: flex;flex-direction: row; margin-top: 48%; margin-bottom: 180px; }

#wrapper1 {
	background: #f0ffff;
	border-bottom: 1px solid #ccc;
	height: 70%;
	width: 100%;
	position: relative;
	/*position: absolute;
	top: 0;
	left: 0;*/
	
}
#inner {
	width: 90%;
	min-width: 300px;
	max-width: 800px;
	position: absolute;
	bottom: -50px;
	left: 10%;
}
#carousel-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	width: 100%;
	padding: 20px;
	/*position: absolute;
	bottom: 0;
	left: 0;*/
}
#carousel1 {
	width: 800px;
	height: 500px;
	overflow: hidden;
}
#carousel1 img {
	display: block;
	float: left;
}
#pager-wrapper {
	height: 120px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: -35px;
	left: 0;
	z-index: 2;
}
#pager img {
	cursor: pointer;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	display: block;
	width: 80px;
	height: 60px;
	padding: 10px;
	margin: 10px;
	float: left;
}
#pager img:hover {
	background: #eff;
}
#pager img.selected {
	background: #dff;
}

/*------------------------------------------------------------------*/





#wrapper2 {
	width: 238px;
	height: 220px;
	/*margin: -110px 0 0 -367px;
	position: absolute;
	left: 50%;
	top: 50%;*/
}
 
#carousel2 {
	width: 238px;
	position:relative;
}
#carousel2 ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
#carousel2 li {
	background: transparent url(/src/img/carousel_polaroid.png) no-repeat 0 0;
	font-size: 20px;
	color: #999;
	text-align: center;
	display: block;
	width: 238px;
	height: 178px;
	padding: 0;
	margin: 5px;
	float: left;
	position: relative;
}
 
#carousel2 li img {
	width: 200px;
	height: 127px;
	margin-top: 14px;
}
 
#carousel2 li span {
	/*background: transparent url(/src/img/carousel_shine.png) no-repeat 0 0;
	text-indent: -999px;*/
	display: block;
	overflow: hidden;
	width: 200px;
	height: 127px;
	position: absolute;
	z-index: 2;
	top: 164px;
	left: 16px;
}			
 
.clearfix2 {
	float: none;
	clear: both;
}
#carousel2 .prev2, #carousel2 .next2 {
	background: transparent url(/src/img/carousel_control.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 15px;
	height: 21px;
	margin-left: 10px;
	/*position: absolute;
	top: 70px;*/				
}
#carousel2 .prev2 {
	background-position: 0 0;
	position: absolute;
	left: 0px;
	top: 150px;
}
#carousel2 .prev2:hover {
	left: -1px;
}			
#carousel2 .next2 {
	position: absolute;
	background-position: -18px 0;
	right: 0px;
	top: 150px;
	margin-left: 150px;
}
#carousel2 .next2:hover {
	right: -1px;
}	

/*.carousel2 a,.carousel2 a:active,.carousel2 a:focus{border: 0px; outline: none !important; }*/


.right>h2 {text-align: center; font-size: 25px; margin-top: 10px; color: #FFFFFF;
text-shadow: 1px 1px 0 #4074b5, 1px -1px 0 #4074b5, -1px 1px 0 #4074b5, -1px -1px 0 #4074b5, 1px 0px 0 #4074b5, 0px 1px 0 #4074b5, -1px 0px 0 #4074b5, 0px -1px 0 #4074b5;}
/*.rakc,.rfreshart, .rnew {width: 200px; height: 200px; margin: 15px 0px; margin-left: 20px;}*/

.rnew, .rakc, .rfreshart {width: auto; height: auto; margin-left: 0px; border: none;}
.rnew img, .rakc img {width: 90%;}
.rnew>div:hover,.rakc>div:hover {transform: scale(1.0);}
.rfreshart>.preArticle{width: auto; height: auto; }

.rakc>.child{height: 350px;}

.rakc>.child>.rect{text-align: right; position: relative; top:0px; /*left: 155px;*/left: -60px; width: 0; height: 0; border-style: solid; border-width: 0 50px 50px 0; border-color: transparent #fc0000 transparent transparent;}












/*---------------------------------------------------------------------------------*/





.xxx{display: flex; justify-content: center; flex-wrap: wrap; flex-direction: row;}
/*.xx{width: 100px; height: 150px; border: 1px solid black;}*/


.catalog h1 {margin: 20px; font-size: 40px; text-align: center; font-weight: bold; color: #444444; background: #FFFFFF; text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;}

.filtr
{
display: flex;
flex-direction: row;
/*flex-wrap: wrap;*/
justify-content: space-between; /*center;*/
width: 98%;
height: 155px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
font-size: 18px;
border-radius: 4px;
box-shadow: 0 3px 10px rgba(0,0,0,.16) !important;
}

.filtr button
{}/**/
.filtr button:nth-child(1){font-size: 10px; width: 160px; height: 50px; color: red;}





/* Reset Select */
.sorting select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
.sorting select::-ms-expand {
  display: none;
}
/* Custom Select */
.sorting .select {
	padding: 2px 0px;
	/*margin-left: 33%;*/
	text-align: center;
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  line-height: 1;
  background: #c7e8e7;
  overflow: hidden;
  border-radius: .25em;
}
.sorting select {
  flex: 1;
  padding: 0 .5em;
  color: #000;
  cursor: pointer;
}
/* Arrow */
.sorting .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.sorting .select:hover::after {
  color: #f39c12;
}

#stages>.select {margin-left: 13px;}



.hide{display: none;}
.show{display: block;}
.flex{display: flex;}
.activ{background-color: #f9e6d8;}
.deactiv{background-color: #ffffff;}
/*.filtr div
{border: 1px solid black; }*/

/*.filtr div:nth-child(3),.filtr div:nth-child(4),.filtr div:nth-child(5),.filtr div:nth-child(6),.filtr div:nth-child(7)
{display: none;}*/

.filtr div:nth-child(5) input, .filtr div:nth-child(6) input, .filtr div:nth-child(7) input
{width: 60px;}

.sorting
{display: flex; flex-direction: row; flex-wrap: wrap; height: 100px;}

.ch_rom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.ch_rom:checked {
  border: 6px solid black;
}


#view {display: flex; flex-direction: row; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; border-radius: 20px; align-items: center; justify-content: center; margin: 5px;}/**/
#view>div{padding: 3px; margin: 5px 5px 5px 5px; border-radius: 5px; width: 20px; height: 18px;}

#view>div:nth-child(2){ font-size: 20px; text-align: center; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; cursor: pointer; transition: all .5s ease-out;}
#view>div:nth-child(2):hover {box-shadow: 0 2px 5px rgba(0,0,0,.20) !important; background-color: #f9e6d8;}

#view>div:nth-child(3){text-align: center; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; cursor: pointer; transition: all .5s ease-out;}
#view>div:nth-child(3):hover {box-shadow: inset 0px 0px 4px 4px rgba(0,0,0,0.75); background-color: #f9e6d8;}
#view>p{line-height: 35px; margin-right: 5px;}

#sort {display: flex; flex-direction: column; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; border-radius: 20px; align-items: center; justify-content: center; margin-right: 5px; margin-top: 10px; padding: 5px;}
#object {display: flex; flex-direction: column; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; border-radius: 10px; align-items: center; justify-content: center; height: 50px; margin: 5px; padding: 5px;}
#room { flex-direction: column; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; border-radius: 10px; align-items: center; justify-content: center; margin: 5px; padding: 5px; height: 50px;}
#stage { flex-direction: column; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; border-radius: 10px; align-items: center; justify-content: center; margin: 5px; padding: 5px; height: 50px;}
#stages { flex-direction: column; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; border-radius: 10px; align-items: center; justify-content: center; margin: 5px; padding: 5px; height: 50px;}
#coast {flex-direction: column; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; border-radius: 10px; align-items: center; justify-content: center; margin: 5px; padding: 5px; height: 50px;}
#s {flex-direction: column; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; border-radius: 10px; align-items: center; justify-content: center; margin: 5px; padding: 5px; height: 50px;}
#s sup {font-size: 12px; position: relative; top: -4px;}
#ss {flex-direction: column; box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; border-radius: 10px; align-items: center; justify-content: center; margin: 5px; padding: 5px; height: 50px;}

#sort p,#object p,#room p,#stage p,#stages p,#coast p,#s p,#ss p {margin-bottom: 5px; text-align: center;}
/*#enter {background-color: grey; height: 50px; text-align: center; padding: 5px; margin: 5px; cursor: pointer; border-radius: 10px;}*/

#enter, #reset  {
  margin: 5px;
  padding: 5px;
  
  cursor: pointer;
  position: relative;
  /**/
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #F64C2B;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}
#enter:active, #reset:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

#enter {line-height: 2.5em; height: 50px;}
#reset {padding-top: 10px; height: 45px; }/*padding-bottom: 0px;*/








.plit{width: 210px; height: 350px; transition: all 1s ease-out;}
.plit img{width: 95%;}
.row{width: 90%; height: 200px; float: left; transition: all 1s ease-out;}
.row img{width: 90%; transition: all 0.2s ease-out;}
.row img:hover{box-shadow: 0 3px 10px rgba(0,0,0,.16) !important;}

.row>div:nth-child(1){width: 200px; height: 100px;}/*align-self: flex-start;*/
.row>div:nth-child(2){width: 100px; height: 25px;  position: relative; top: 100px; margin-top: 65px; left: -145px; background-color: lightblue; font-size: 24px;}/**/
.row>div:nth-child(3){width: 200px;}
.row>div:nth-child(4){width: 200px;}
.row>div:nth-child(5){width: 200px; margin-left: 0px;}
.row>div:nth-child(6){width: 200px; margin-left: 0px;}
.row>div:nth-child(7){width: 200px; margin-left: 0px; margin-top: 20px;}
.row>.rect{text-align: right; position: relative; top:0px; margin-left: -585px; width: 0; height: 0; border-style: solid; border-width: 0 50px 50px 0; border-color: transparent #fc0000 transparent transparent;}

.child
{
	margin: 10px;
	padding: 5px;
	text-align: center;      
	/*height: 340px;*/			/*230*/
	/*width: 200px;*/
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(0,0,0,.16) !important;
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;*/
  	/*justify-content: center;*/
  	flex-direction: column;
  	transition: transform 0.5s;
  	background-color: #fbf5f5;
  	transition: all 1s ease-out;
}
.child:hover{transform: scale(1.05);}
/*.child img { margin-top: 5px;}width: 95%;*/
.linkCat { width: 110px;height: 30px; margin-top: 10px; align-self: center; text-align: center; color: black; display: block;  border-radius: 20px; padding-top: 11px; margin-left: 45px;  box-shadow: 0 3px 10px rgba(0,0,0,.16) !important; transition: all 1s ease; text-decoration: none;}/*position: static;margin: 10px; padding: 5px;*/
.linkCat:hover {background-color: lightgreen; color: #FFFFFF; box-shadow: inset 0px 0px 21px 0px rgba(0,0,0,0.75);}
/*.child div:nth-child(1){font-size: 18px; margin: 5px 0px;}*/

/*.child>div:nth-child(1){width: 200px; height: 100px; align-self: center;}*/
.child>div:nth-child(2){position: relative; top: -15px; background-color: #fbf5f5; width: 100px; height: 25px; border-radius: 15px 15px 15px 15px; align-self: center; font-size: 20px; padding: 5px; transition: all 1s ease}  /*  */
.child>div:nth-child(2):hover{box-shadow: 0 3px 10px rgba(0,0,0,.16) !important;}
.child>div:nth-child(3),.child>div:nth-child(4) {font-size: 18px;}
.child>div:nth-child(5){font-size: 20px; color: red; margin-top: 10px; margin-bottom: 5px;}
.child div:nth-child(6){display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center; font-size: 14px; margin-top: 5px 0px; border-bottom: 1px solid grey; border-top: 1px solid grey; padding: 5px 0px;}
.child sup{font-size: 12px; position: relative; top: -4px;}
.child>.rect{text-align: right; position: relative; top:0px; /*left: 155px;*/left: -50px; width: 0; height: 0; border-style: solid; border-width: 0 50px 50px 0; border-color: transparent #fc0000 transparent transparent;}
.child>.rect span{opacity: 0;}
.child>.rect b{color: white;}
.child i{margin-right: 4px; margin-left: 7px;}


.detal
{
width: 95%;
/*height: 600px;*/
border-radius: 4px;
box-shadow: 0 3px 10px rgba(0,0,0,.16) !important;
margin-left: 2.4%;
margin-top: 10px;
margin-bottom: 10px;
display: flex;
align-self: center;
flex-direction: column;
justify-content: center;
/*flex-wrap: wrap;*/
}


/*--------------------------------------------------------------------------------------------------*/




#wrapperD {
	/*position: absolute;
	
	left: 25%;
	top: 50px;*/
width: 80%;
margin-top: 20px;
margin-left: 10%;


}
#carousel-wrapperD {
	padding-bottom: 10px;
	position: relative;
}
#carouselD, #thumbsD {
	overflow: hidden;
}
#carousel-wrapperD .caroufredsel_wrapperD {
	border-radius: 10px;
	box-shadow: 0 0 5px #899;
}
 
#carouselD span, #carouselD img,
#thumbsD a, #thumbsD img  {
	display: block;
	float: left;
}
#carouselD span, #carouselD a,
#thumbsD span, #thumbsD a {
	position: relative;
}
#carouselD img,
#thumbsD img {
	border: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#carouselD img.glare,
#thumbsD img.glare {
	width: 102%;
	height: auto;
}
 
#carouselD span {
	width: 554px;
	height: 313px;
}
 
#thumbs-wrapperD {
	padding: 20px 40px;
	position: relative;
}
#thumbsD a {
	border: 2px solid #899;
	width: 150px;
	height: 100px;
	margin: 0 10px;
	overflow: hidden;
	border-radius: 10px;
	
	-webkit-transition: border-color .5s;
	-moz-transition: border-color .5s;
	-ms-transition: border-color .5s;
	transition: border-color .5s;
}
#thumbsD a:hover, #thumbsD a.selected {
	border-color: #566;
}
 
#wrapperD img#shadowD {
	width: 100%;
	position: absolute;
	bottom: 0;
}
 
#prevD, #nextD {
	background: transparent url('/src/img/carousel_nav.png') no-repeat 0 0;
	display: block;
	width: 19px;
	height: 20px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
}
#prevD {
	background-position: 0 0;
	left: 10px;
}
#nextD {
	background-position: -19px 0;
	right: 10px;
}			
#prevD:hover { 
	background-position: 0 -20px;				
}
#nextD:hover {
	background-position: -19px -20px;				
}
#prevD.disabled, #nextD.disabled {
	display: none !important;
}


/*---------------------------------------------------------------------------------------------------*/

/*---*/

.table_blur {
  background: #f5ffff;
  border-collapse: collapse;
  text-align: left;
  width: 90%;
  margin-left: 5%;
}
.table_blur th {
  border-top: 1px solid #777777;	
  border-bottom: 1px solid #777777; 
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  background: linear-gradient(#9595b6, #5a567f);
  color: white;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  font-size: 22px;
  text-shadow: 0 1px 1px #2D2020;
}
.table_blur th:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur tr:nth-child(odd) {
  /*background: #ebf3f9;*/
}
.table_blur th:first-child {
  border-left: 1px solid #777777;	
  border-bottom:  1px solid #777777;
  box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
  border-right: 1px solid #777777;
  border-bottom:  1px solid #777777;
  box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
  border: 1px solid #e3eef7;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
}

.table_blur sup {font-size: 12px; position: relative; top: -4px;}
.detal h4 {text-align: center; text-shadow: 0 1px 1px #2D2020; font-weight: bold; font-size: 20px; margin-top: 5px;}
/*text-shadow: 0 1px 1px #2D2020;*/
.description {margin: 20px; padding: 5px; background-color: #e3eef7; border-radius: 15px; box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75); }
/*---*/

/*-----------------------------------------About----------------------------------------------*/

.about {font-size: 18px; padding: 5px;}
.about h1 {font-size: 32px; font-weight: bold;}
.about h1:nth-child(1){font-size: 40px; text-align: center;}
.about h3 {font-size: 20px; font-weight: bold;}
.about p {margin-bottom: 10px;}
.about em {font-style: italic;}
.about ul {list-style: square outside; padding: 10px 0px 10px 20px;}
.about ol {list-style: decimal; padding: 10px 0px 10px 20px;}
.about h1:nth-child(4){font-size: 45px; text-align: center;}
.about .kont {display: flex; flex-wrap: wrap; justify-content: center;}
.about .kont > div{width: 31%; margin: 5px; background-color: #f9f9f9; transition: all 0.5s ease-out;}/*border: 1px solid black;*/
.about .kont > div:hover{box-shadow: 0 10px 20px -3px rgba(34,36,37,0.4); z-index: 3;}
.about .kont > div div {padding: 5px; font-size: 20px;}
.about .kont > div div:nth-child(1) {background-color: #234D90; text-align: center; padding: 5px; color: white; font-size: 25px;}
.about .kont > div div:nth-child(3) {background-color: #F1F1F1;} 
.about .kont i {margin-right: 5px;}
.about .kont a {width: 100px; color: blue; margin: 0px; display: inline;}

.about .rec
{
	width: 90%; 
	padding: 5px;
	margin-left: 2%; 
	margin-top: 30px; 
	margin-bottom: 30px;
	padding: 20px; 
	border-radius: 10px;
	border: 1px dashed #cecece; 
	background-color: #F1F1F1; 
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.about .rec div {font-size: 25px; text-align: center; text-shadow: 3px 5px 6px #6C9, -6px -7px 6px #D9FFA7;}


/*-----------------------------------------FAQ----------------------------------------------*/

.faq h1 {font-size: 40px; text-align: center; font-weight: bold; color: #444444; background: #FFFFFF; text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;}
.faq hr {width: 90%; transition: all 0.5s ease-out;}
.faq hr:hover {width: 50%; transition: all 0.5s ease-out;}
#faq_inf
{
	font-size: 20px;
	width: 90%; 	
	margin-left: 2%; 
	margin-top: 30px; 
	margin-bottom: 30px;
	padding: 20px; 
	border-radius: 10px;
	border: 1px double #cecece; 
	background-color: #F1F1F1; 
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transition: all 0.5s ease-out;
}

#faq_inf:hover
{box-shadow: 2px 2px 20px 10px rgba(34,36,37,0.4);}


/* Reset Select */
.faq select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
.faq select::-ms-expand {
  display: none;
}
/* Custom Select */
.faq .select {
	margin-left: 33%;
  position: relative;
  display: flex;
  width: 26em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
.faq select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.faq .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.faq .select:hover::after {
  color: #f39c12;
}

/*-----------------------------------------------BLOG---------------------------------------------------------------*/

.blog h1 {margin: 20px; font-size: 40px; text-align: center; font-weight: bold; color: #444444; background: #FFFFFF; text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;}
.blog hr {width: 90%; transition: all 0.5s ease-out;}
.blog hr:hover {width: 50%; transition: all 0.5s ease-out;}

.poisk {margin-left: 5%;}

.artiklBlok{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;}

.preArticle
{
display: flex;
flex-direction: column;
align-items: center;
width: 300px;
height: 300px;
border: 1px solid black;
margin: 5px;
}

.preArticle h2{text-align: center; font-weight: bold; margin: 5px; font-size: 18px;}
.preArticle img{width: 95%;}
.preArticle .ArticleT{width: 93%; height: 70px; margin: 5px; padding: 5px; border-radius: 5px 5px 25px 25px; background-color: #f9f9f9;}
.preArticle .ArticleB {width: 50%; border-radius: 5px; padding: 5px; background-color: skyblue; cursor: pointer; text-align: center; font-size: 18px;}
.preArticle .ArticleO {display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center; font-size: 14px; margin-top: 5px;}
.preArticle .ArticleO div {margin: 1px 5px; color: #adadad;}
.preArticle .ArticleO i {margin-right: 5px;} 
.article { width: 96%; padding: 5px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.article h1 {margin: 20px; font-size: 40px; text-align: center; font-weight: bold; color: black;}
.article #zzz p {font-size: 17px; line-height: 24px; font-family: Roboto, Arial, sans-serif; text-align: justify;}
.article #zzz img {width: 90%; margin-left: 5%;}
.article .articleO {display: flex; flex-direction: row;  justify-content: space-between; font-size: 16px; margin-top: 5px;}/*flex-wrap: wrap;*/
.article .articleO div {margin: 1px 5px; color: #adadad;}
.article .articleO i {margin-right: 5px;} 

.article>.articleO div:nth-child(1) {font-size: 25px; margin-right: 25px; cursor: pointer; transition: all 1s ease;}
.article>.articleO div:nth-child(5) {font-size: 25px; margin-left: 25px; cursor: pointer; transition: all 1s ease;}
.article>.articleO div:nth-child(1):hover {color: blue;}
.article>.articleO div:nth-child(5):hover {color: blue;}

.article h2 {font-size: 24px; margin: 10px 0px; font-weight: bold;}  				/*display: flex; transform: scale(1.05);*/
/*.article*/ 
.comform {width: 65%; padding: 20px 0px; border:1px solid black;  flex-direction: column; justify-content: center; align-items: center; margin-bottom: 20px; background-color: #c7e8e7; border-radius: 10px; } 
.article .comform input {width: 200px;}
.article .comform textarea {width: 80%;}
.article .comform div {padding: 10px; background-color: lightblue; margin: 10px 0px; font-size: 20px; border-radius: 10px; cursor: pointer;}

#sendCom {cursor: pointer;}
#com {padding: 5px 10px; margin: 5px; border-radius: 15px; font-size: 18px; background-color: #afffb7; box-shadow: 0 0 10px rgba(0,0,0,0.5); cursor: pointer;}
#com:hover{box-shadow: 0 0 19px rgba(0,0,0,0.5);}
#com1 {padding: 5px 10px; margin-top: 5px; margin-bottom: 15px; border-radius: 15px; font-size: 18px; background-color: #afffb7; box-shadow: 0 0 10px rgba(0,0,0,0.5); cursor: pointer;}
#com1:hover{box-shadow: 0 0 19px rgba(0,0,0,0.5);}

#back {align-self: start; padding: 5px 10px; margin-top: 5px; margin-bottom: 15px; border-radius: 25px 0px 0px 25px; font-size: 18px; background-color: #afffb7; box-shadow: 0 0 10px rgba(0,0,0,0.5); cursor: pointer;}
#back:hover{box-shadow: 0 0 19px rgba(0,0,0,0.5);}
/*------------------------------------------------------------Comment component-------------------------------------------------------------*/

.comment {display: flex; flex-direction: row; width: 95%;}
.comment img {width: 60%;}
.comment>div:nth-child(1){width: 150px; display: flex; flex-direction: column; align-items: center;}
.comment>div:nth-child(2){width: 95%;}
.comment div:nth-child(2)>div:nth-child(1){border:1px solid black; width: 17%; text-align: center; border-radius: 20px; background-color: skyblue; padding: 3px;}
.comment div:nth-child(2)>div:nth-child(2){border:1px solid black;  min-height: 68px; border-radius: 10px; background-color: skyblue; padding-left: 10px;}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------Registration------------*/


.reg {margin: 20px; font-size: 40px; text-align: center; font-weight: bold; color: black;}

.contact_form ul {
  /*  width:750px;*/ width: 95%;
    list-style-type:none;
  list-style-position:outside;
  /*margin:0px;*/margin-left: 3%;
  padding:0px;
}
.contact_form li{
  padding:12px; 
  border-bottom:1px solid #eee;
  position:relative;
} 
.contact_form li:first-child, .contact_form li:last-child {
  border-bottom:1px solid #777;
}

/* === Form Header === */
.contact_form h2 {
  margin:0;
  display: inline;
}
.required_notification {
  color:#d45252; 
  margin:5px 0 0 0; 
  display:inline;
  float:right;
}

/* === Form Elements === */
.contact_form label {
  width:150px;
  margin-top: 3px;
  display:inline-block;
  float:left;
  padding:3px;
}
.contact_form input {
  height:20px; 
  width:220px; 
  padding:5px 8px;
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}

  /* form element visual styles */
  .contact_form input, .contact_form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    padding-right:30px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
  }
  .contact_form input:focus, .contact_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    padding-right:70px;
  }

/* === HTML5 validation styles === */ 
.contact_form input:required, .contact_form textarea:required {
  background: #fff url(/src/img/red_asterisk.png) no-repeat 98% center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid {
  background: #fff url(/src/img/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
  background: #fff url(/src/img/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}

/* === Form hints === */
.form_hint {
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin-left:8px;
  padding: 1px 6px;
  z-index: 999; /* hints stay above all other elements */
  position: absolute; /* allows proper formatting if hint is two lines */
  display: none;
}
.form_hint::before {
  content: "\25C0";
  color:#d45252;
  position: absolute;
  top:1px;
  left:-6px;
}
.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;}
.contact_form input:required:valid + .form_hint::before {color:#28921f;}
  
/* === Button Style === */
button.submit {
  background-color: #68b12f;
  background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
  background: -webkit-linear-gradient(top, #68b12f, #50911e);
  background: -moz-linear-gradient(top, #68b12f, #50911e);
  background: -ms-linear-gradient(top, #68b12f, #50911e);
  background: -o-linear-gradient(top, #68b12f, #50911e);
  background: linear-gradient(top, #68b12f, #50911e);
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #9fd574;
  -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
  -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
  -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
  -o-box-shadow: 0 1px 0 0 #9fd574 inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
  opacity:.85;
  cursor: pointer; 
}
button.submit:active {
  border: 1px solid #20911e;
  box-shadow: 0 0 10px 5px #356b0b inset; 
  -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
  -moz-box-shadow: 0 0 10px 5px #356b0b inset;
  -ms-box-shadow: 0 0 10px 5px #356b0b inset;
  -o-box-shadow: 0 0 10px 5px #356b0b inset;
  
}




.contact_form ul li:nth-child(8) input{width: 30px;}
/*.contact_form ul li:nth-child(8) span {padding-top: -15px;}*/

/*-----------------------------------------------------------------Авторизация---------------------------------------------------------------------------*/

.in{margin: 20px; font-size: 40px; text-align: center; font-weight: bold; color: black;}

/*-----------------------------------------------------------------@media screen---------------------------------------------------------------------------*/

.roomt{margin: 20px; font-size: 40px; text-align: center; font-weight: bold; color: black;}

.RomContainer {display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;}
/*.roomCard {width: 150px; height: 100px; border: 1px solid black; margin: 10px;}*/

.RCard{display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;}
.RCard>div:nth-child(1){width: 49%; display: flex; flex-direction: column; justify-content: center; align-content: center; text-align: center;}
.RCard>div:nth-child(1) img{width: 50%; margin: 0 auto;}
.RCard>div:nth-child(1) span {font-weight: bold;}
.RCard>div:nth-child(1)>div {margin: 3px;}
.RCard>div:nth-child(1)>div:nth-child(9) {cursor: pointer; padding: 5px; width: 100px; background-color: lightgreen; border-radius: 5px; align-self: center;}

.RCard>div:nth-child(2){width: 49%; display: flex; flex-direction: column; justify-content: center; align-content: center; font-size: 22px;}
.RCard>div:nth-child(2)>div {width: 300px; height: 50px; background-color: skyblue; border-radius: 5px; margin: 5px; padding-left: 5px;}
.RCard>div:nth-child(2)>div:nth-child(8) {font-size: 18px;}

.out {text-align: center; margin-top: 25px;}
.out span { cursor: pointer; padding: 5px; width: 100px; background-color: lightgreen; border-radius: 5px;}


/*-----------------------------------------------------------------@media screen---------------------------------------------------------------------------*/


@media screen and (max-width: 1500px) 
{
.head>img:nth-child(1) {top: -450px;}
.head>img:nth-child(2) {top: -570px;}
#inner {bottom: -100px; left: 9%;}
.contact_form ul {margin-left: 3%;}

}

@media screen and (max-width: 1400px) 
{
.head>img:nth-child(1) {top: -400px;}
.head>img:nth-child(2) {top: -520px;}
#inner {bottom: -120px; left: 4%;}
.contact_form ul {margin-left: 3%;}
.row>div:nth-child(2){left: -100px;}
.chat {margin-left: 122%;}
}

@media screen and (max-width: 1320px) 
{
.head>img:nth-child(1) {top: -350px;}
.head>img:nth-child(2) {top: -475px;}	
.sorting, .filtr {height: auto;}
.contact_form ul {margin-left: 2%;}
.chat {margin-left: 123%;}
}

@media screen and (max-width: 1200px) 
{
.head>img:nth-child(1) {top: -320px;}
.head>img:nth-child(2) {top: -445px;}
.call {margin-left: 10%;}
.contact_form ul {margin-left: 2%;}
.row>div:nth-child(2){left: -50px;}
.chat {margin-left: 127%;}
}

@media screen and (max-width: 1100px) 
{
.head>img:nth-child(1) {top: -285px;}
.head>img:nth-child(2) {top: -420px;}
.call {margin-left: 10%;}
.chat {margin-left: 129%;}
.left {width: 210px;}
.var_nav {width: 200px;}
.link_title a {margin-left: 15px;}
.contact_form ul {margin-left: 1%;}
}

@media screen and (max-width: 1000px) 
{
.head>img:nth-child(1) {top: -245px;}
.head>img:nth-child(2) {top: -380px;}
.call {margin-left: 2.5%;}
#inner {bottom: -80px;}
#f1,#f2,#f3,#f4 {height: 220px;}
.contact_form ul {margin-left: 1%;}
.row>div:nth-child(2){left: 0px;}
.chat {margin-left: 134%;}
}

@media screen and (max-width: 980px) 
{
.call {margin-left: 0%;}
.worker {width: 200px;}
.pont {width: 98%;}
.contact_form ul {margin-left: 0%;}
.chat {margin-left: 135%;}
}

@media screen and (max-width: 950px) 
{


.chat {margin-left: 125%;}
}

@media screen and (max-width: 950px) 
{
.rakc>.child, .rnew>.child {height: 380px;}
.rakc>.child > div:nth-child(5),.rnew>.child > div:nth-child(5) {font-size: 18px;}
.rakc .linkCat, .rnew .linkCat {margin-left: 20px;}



}
